#mainLabel{
    -fx-text-fill: black;
    -fx-font-size: 30;
    -fx-label-padding: 0 0 0 20;
    -fx-opacity: 0.6;
}

#mainToolbar{
    -fx-background-color: #d60d4d;
}

#menu{
    -fx-background-color: #f2f2f2;
}

.scroll-pane{
    -fx-background-color: #f2f2f2;;
}
